.top-row {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-prescription-button {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.second-row {
    background-color: lightgray;
}
