.add-prescription-button button {
    border-radius: 20px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 35px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

